.footer-back #back_top{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    bottom: 20px;
    right: 80px;
    position: fixed;
    display: none;
    padding-top: 6px;
}
.footer-back i{
    font-size: 50px;
}