/* 作者 */
.author {
    width: 100%;
    height: 160px;
    text-align: center;
    margin: 20px 0;
}
.author .author-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.author .author-name {
    font-size: 20px;
    color: var(--theme-text-primary);
}
.author .author-desc {
    font-size: 14px;
    color: var(--theme-text-primary);
}