/* 导航 */
.header-nav{
    margin-top: 20px;
}
.header-nav li {
    height: 40px;
    display: block;
    width: 100%;
    padding-top: 10px;
}
.header-nav li:hover{
    background-color: #edeef0;
    color: #ff8400;
}
.header-nav li i {
    font-size: 18px;
    margin: 0 20% 0 26%;
}
.header-nav li a{
    color: var(--theme-text-primary);
}
.header-nav li.nav-home a{
    padding-left: 4px;
}
.header-nav li.nav-archives a{
    padding-left: 6px;
}
.header-nav li.nav-categories a{
    padding-left: 6px;
}
.header-nav li.nav-tags a{
    padding-left: 5px;
}
.header-nav li.nav-photos a{
    padding-left: 2px;
}
.header-nav li.nav-about a{
    padding-left: 6px;
}