
/* 联系方式 */
.header-social {
    text-align: center;
    margin: 20px 0;
}
.social-icons{
    margin-bottom: 10px;
}
.social-icons a{
    margin-right: 10px;
}
.social-icons svg {
    width: 24px;
    height: 24px;
    display: inline-block;
}