#articles h2 {
    font-size: 1.7em;
    position: relative;
    padding-bottom: 10px;
    color: var(--theme-text-primary);
}

#articles h2:before {
    content: "";
    width: 100%;
    padding: 0px 25px;
    border-bottom: 1px solid #eee;
    position: absolute;
    bottom: -1px;
    left: -25px;
    box-sizing: unset;
}
#articles h2:after {
    transition: all 0.35s ease-out;
    content: "";
    position: absolute;
    background: #ff4e6a;
    width: 1em;
    height: 5px;
    bottom: -3px;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(255, 78, 106, 0.85);
}

#articles h2:hover:after {
    width: 2em;
}

#articles ul {
    padding: 0 0 0 2em;
    margin-top: 0;
    color: var(--theme-text-primary);
}

#articles ul span {
    margin-right: 15px;
}

#articles li {
    line-height: 2rem;
}

#articles li {
    position: relative;
    padding: 10px 0;
    padding-left: 25px;
}

#articles li::before {
    content: "";
    width: 14px;
    height: 14px;
    background: #ff4e6a;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 11px;
    margin-left: -25px;
    border-radius: 100%;
    border: 3px solid #fff;
    z-index: 100;
    position: relative;
}

#articles li::after {
    content: "";
    height: 100%;
    width: 2px;
    background: rgba(255, 78, 106, 0.2);
    position: absolute;
    left: 9px;
    top: 20px;
}

#articles li:last-child:after {
    display: none;
}