.article {
    margin-top: 20px;
}
.article  img{
    width: 100%;
}
.article .article-info{
    color: var(--theme-text-primary);
}
.article .article-info .article-title{
    font-size: 34px;
    margin-bottom: 10px;
    text-align: center;
}
.article .article-info .author-title{
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
