.near-page {
    display: flow-root;
    margin-bottom: 10px;
}
.near-page div {
    display: flex;
}
.near-page .hover-underline-animation {
    position: relative;
    color: var(--theme-text-primary);
    padding-bottom: 7px;
}
.near-page .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: #ff4e6a;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.near-page div:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.near-page .page-prev {
    float: left;

}
.near-page .page-next {
    /* right: 0; */
    float: right;
}
.near-page .page-prev i {
    margin-right: 10px;
    margin-top: 3px;
}
.near-page .page-next i {
    margin-left: 10px;
    margin-top: 3px;
}