.page-container{
    margin: 20px auto;
    text-align: center;
    color: var(--theme-text-primary);
}
.page-container .page-number{
    margin: 0 20px;
}
.page-container .extend{
    margin: 0 20px;
}